<h1>Signup or <a href="/login">Sign up</a></h1>
<form method="POST" action="/user">
	<div>
        <label>Username:</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>
