<div class="container">

    <form class="form-signin" action="/user" method="POST">
        <h2 class="form-signin-heading">Registrate o  <a href="/login">haz login</a></h2>
        
        <label for="displayName" class="sr-only">Nombre</label>
        <input type="text" id="displayName" name="displayName" class="form-control" placeholder="nombre" autofocus="true">
        
        <label for="name" class="sr-only">Email address</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="username" required="true" autofocus="">

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    </form>

</div>